<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css公共属性说明文档</title>
	<link rel="stylesheet" href="../static/css/api.css">
</head>
<body>
	<header class="site-nav">
		<div class="container">
			<h1 class="site-title"><a href="index.html">前端建设</a></h1>
			<nav>
				<a href="#">css</a>
				<a href="#">gulp</a>
				<a href="#">h5动画库</a>
				<a href="layerUi.html">弹出层</a>
			</nav>
		</div>
	</header>
	<div class="css-banner">
		<div class="container">
			css预定义公共方法说明
		</div>
	</div>


	<div class="container">
		<div class="god-col-10">
			<section>
				<h2 class="api-title">基本性息</h2>
				<ul class="api-info">
					<li>作者：国英</li>
					<li>版本：1.0</li>
					<li>更新时间：2015-10-19</li>
					<li>概述：整理css常用公共属性，减少代码冗余，降低耦合性</li>
				</ul>
			</section>
			<section>
				<h2 class="api-title">api属性说明</h2>
				<div class="api-lists">
					<div class="god-col-12 titleWrap ">
						<h3 class="god-col-12 title color">颜色</h3>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
						<h3 class="god-col-12 title display">块状</h3>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
						<div class="god-col-6">$white</div>
						<div class="god-col-6 val">白色(#fff)</div>
					</div>
				</div>
			</section>
		</div>
		<div class="god-col-2">
			<ul class="api-nav">
				<li><a href="#">基本信息</a></li>
				<li><a href="#">颜色</a></li>
				<li><a href="#">块状</a></li>
			</ul>
		</div>
	</div>
</body>
</html>