<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>骨架模块</title>
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<header class="site-nav">
		<div class="container">
			<h1 class="site-title"><a href="index.html">前端建设</a></h1>
			<nav>
				<a href="css.html">css</a>
				<a href="#">gulp</a>
				<a href="#">h5动画库</a>
				<a href="#">弹出层</a>
			</nav>
		</div>
	</header>
	<div class="index-banner">
		<div class="container">
			前端建设
		</div>
	</div>

	<div class="container">
	<div class="god-col-3 idx-perfix">
			<section class="idx-item">
				<h2 class="title"><a href="codeguide.html">编码规范</a></h2>
				<summary>提供统一的公共化样式，采用sass进行编写</summary>
			</section>
		</div>
		<div class="god-col-3 idx-perfix">
			<section class="idx-item">
				<h2 class="title"><a href="#">css</a></h2>
				<summary>提供统一的公共化样式，采用sass进行编写</summary>
			</section>
		</div>
		<div class="god-col-3 idx-perfix">
			<section class="idx-item">
				<h2 class="title"><a href="#">gulp</a></h2>
				<summary>gulp使用教程，gulp常用属性介绍</summary>
			</section>
		</div>
		<div class="god-col-3 idx-perfix">
			<section class="idx-item">
				<h2 class="title"><a href="#">h5动画</a></h2>
				<summary>基于html5和css3的动画框架，给你更流畅更炫酷的体验</summary>
			</section>
		</div>
		<div class="god-col-3 idx-perfix">
			<section class="idx-item">
				<h2 class="title"><a href="#">弹出层</a></h2>
				<summary>一款多功能的弹出提示插件，除静态展示还支持用户交互</summary>
			</section>
		</div>
	</div>
</body>
</html>