.container, .site-nav nav, .api-lists {
  zoom: 1; }
  .container:after, .site-nav nav:after, .api-lists:after {
    content: "";
    clear: both;
    display: block;
    height: 0; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.god-col-1, .god-col-2, .god-col-3, .god-col-4, .god-col-5, .god-col-6, .god-col-7, .god-col-8, .god-col-9, .god-col-10, .god-col-11, .god-col-12 {
  float: left; }

html {
  height: 100%; }

body {
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  text-decoration: none;
  color: #333; }

.god-col-1 {
  width: 8.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-2 {
  width: 16.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-3 {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-4 {
  width: 33.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-5 {
  width: 41.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-6 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-7 {
  width: 58.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-8 {
  width: 66.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-9 {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-10 {
  width: 83.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-11 {
  width: 91.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-12 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.god-dy-none {
  display: none; }

.god-dy-block {
  display: block; }

.god-dy-inline {
  display: inline; }

.god-dy-ik, .red {
  display: inline-block; }

.god-dy-table {
  display: table; }

.god-dy-cell {
  display: table-cell; }

.god-dy-row {
  display: table-row; }

.god-dy-inherit {
  display: inherit; }

.god-f-l {
  float: left; }

.god-f-r {
  float: right; }

.god-ag-left {
  text-align: left; }

.god-ag-center {
  text-align: center; }

.god-ag-right {
  text-align: right; }

.god-va-top {
  vertical-align: top; }

.god-va-tp {
  vertical-align: text-top; }

.god-va-middle {
  vertical-align: middle; }

.god-va-bottom {
  vertical-align: bottom; }

.god-va-tb {
  vertical-align: text-bottom; }

.god-va-baseline {
  vertical-align: baseline; }

.god-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: normal; }

.god-h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: normal; }

.god-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal; }

.god-h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-family-yh {
  font-family: 'Microsoft Yahei'; }

.c9 {
  color: #999; }

.c6 {
  color: #666; }

.c3 {
  color: #333; }

.cf {
  color: #fff; }

.pd-zero {
  padding: 0; }

.mg-zero {
  margin: 0; }

.container {
  width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.site-title {
  float: left;
  line-height: 20px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'Miscrosoft YaHei'; }
  .site-title a {
    color: #99CC33; }

.site-nav {
  background-color: #000; }
  .site-nav nav {
    font-size: 14px; }
    .site-nav nav a {
      color: #9d9d9d;
      float: left;
      padding: 15px;
      line-height: 20px;
      text-decoration: none; }
      .site-nav nav a:hover {
        color: #fff;
        background-color: #666; }

.css-banner {
  padding: 100px 0;
  background-color: #0099CC;
  color: #fff;
  font-size: 36px;
  text-align: center; }

.container {
  font-family: "PT Sans"; }

.api-title {
  font-size: 32px; }

.api-info li {
  line-height: 26px;
  color: #666; }

.api-lists {
  border: 1px solid #666;
  line-height: 28px; }
  .api-lists .god-col-6 {
    background-color: #fff;
    border-top: 1px solid #B7B7B7; }
  .api-lists .val {
    background-color: #ddd; }
  .api-lists .titleWrap {
    background-color: #ddd;
    line-height: 34px;
    padding: 0; }
  .api-lists .title {
    margin: 0; }
  .api-lists .color {
    background-color: #1CB1DA;
    color: #fff; }
  .api-lists .display {
    background-color: #99CC33;
    color: #fff; }

.api-nav {
  padding-left: 0; }
  .api-nav li {
    line-height: 28px;
    list-style-type: none; }
  .api-nav a {
    display: block;
    padding-left: 15px; }
    .api-nav a:hover {
      background-color: #ccc; }

.h3 {
  font-size: 24px;
  margin: 1.2em 0 0.6em; }

.h4 {
  font-size: 18px;
  margin: 1.2em 0 0.6em; }

.p {
  margin-bottom: .8em;
  margin-top: 0; }

.red {
  color: #cf4646;
  background-color: #f9f2f4;
  padding: .2em;
  border-radius: 4px; }

.code {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: .6em 0;
  line-height: 24px; }
