.container, .site-nav nav {
  zoom: 1; }
  .container:after, .site-nav nav:after {
    content: "";
    clear: both;
    display: block;
    height: 0; }

*, *:after, *:before, .regulate-col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.god-col-1, .god-col-2, .god-col-3, .god-col-4, .god-col-5, .god-col-6, .god-col-7, .god-col-8, .god-col-9, .god-col-10, .god-col-11, .god-col-12 {
  float: left; }

.regulate-body {
  margin-top: 0; }

.regulate-body {
  margin-bottom: 0; }

html {
  height: 100%; }

body {
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  text-decoration: none;
  color: #333; }

.god-col-1 {
  width: 8.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-2 {
  width: 16.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-3 {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-4 {
  width: 33.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-5 {
  width: 41.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-6 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-7 {
  width: 58.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-8 {
  width: 66.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-9 {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-10 {
  width: 83.3333%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-11 {
  width: 91.6666%;
  padding-right: 15px;
  padding-left: 15px; }

.god-col-12 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.god-dy-none {
  display: none; }

.god-dy-block {
  display: block; }

.god-dy-inline {
  display: inline; }

.god-dy-ik {
  display: inline-block; }

.god-dy-table {
  display: table; }

.god-dy-cell {
  display: table-cell; }

.god-dy-row {
  display: table-row; }

.god-dy-inherit {
  display: inherit; }

.god-f-l {
  float: left; }

.god-f-r {
  float: right; }

.god-ag-left {
  text-align: left; }

.god-ag-center {
  text-align: center; }

.god-ag-right {
  text-align: right; }

.god-va-top {
  vertical-align: top; }

.god-va-tp {
  vertical-align: text-top; }

.god-va-middle {
  vertical-align: middle; }

.god-va-bottom {
  vertical-align: bottom; }

.god-va-tb {
  vertical-align: text-bottom; }

.god-va-baseline {
  vertical-align: baseline; }

.god-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: normal; }

.god-h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: normal; }

.god-h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: normal; }

.god-h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: normal; }

.god-family-yh {
  font-family: 'Microsoft Yahei'; }

.c9 {
  color: #999; }

.c6 {
  color: #666; }

.c3 {
  color: #333; }

.cf {
  color: #fff; }

.pd-zero {
  padding: 0; }

.mg-zero {
  margin: 0; }

.container {
  width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.site-title {
  float: left;
  line-height: 20px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-family: 'Miscrosoft YaHei'; }
  .site-title a {
    color: #99CC33; }

.site-nav {
  background-color: #000; }
  .site-nav nav {
    font-size: 14px; }
    .site-nav nav a {
      color: #9d9d9d;
      float: left;
      padding: 15px;
      line-height: 20px;
      text-decoration: none; }
      .site-nav nav a:hover {
        color: #fff;
        background-color: #666; }

.regulate-body {
  font-family: "PT Sans"; }

.regulate-title {
  text-align: center;
  padding: 100px 0;
  background-color: #2A3440;
  margin: 0;
  color: #fff;
  font-size: 48px; }

.regulate-subtitle {
  padding: 40px;
  background-color: #DFE1E8;
  margin: 0;
  font-size: 40px; }

.regulate-box {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #DFE1E8; }

.regulate-col {
  display: table-cell;
  padding: 20px 40px;
  color: #666;
  word-wrap: break-word; }
  .regulate-col:nth-child(2) {
    background-color: #F7F7F9;
    color: #5A5A5A; }
  .regulate-col .title {
    font-size: 26px;
    color: #000;
    margin: 0;
    line-height: 40px; }
  .regulate-col ul {
    margin-top: 0; }
  .regulate-col li, .regulate-col .txt {
    line-height: 30px;
    font-size: 18px;
    margin: 0; }
  .regulate-col .txt {
    line-height: 28px; }
  .regulate-col p {
    margin: 10px 0;
    font-size: 16px;
    font-family: "PT Mono", Menlo, "Courier New", monospace; }
  .regulate-col .var {
    color: #009999; }
  .regulate-col .tag {
    color: #2f6f9f; }
  .regulate-col .attr {
    color: #4f9fcf; }
  .regulate-col .val {
    color: #D44950; }
  .regulate-col .fun {
    color: #6AC62E; }
  .regulate-col .cs {
    color: #00AA88; }
  .regulate-col .tab2 {
    margin-left: 2em; }
  .regulate-col .tab4 {
    margin-left: 4em; }
  .regulate-col .tab6 {
    margin-left: 6em; }
  .regulate-col .tab8 {
    margin-left: 8em; }
  .regulate-col .tab10 {
    margin-left: 10em; }

.regulate-nav .regulate-col:nth-child(2) {
  background-color: #fff;
  color: #333; }

.regulate-nav a {
  color: #08c; }
  .regulate-nav a:hover {
    text-decoration: underline; }
